body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 8px 24px;
  background-color: #3882f6;
  color: #f9f9f9;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 96px;
  background-color: #1f2937;
  color: #f9faf8;
}

header .logo {
  font-size: 1.5rem;
  font-weight: 900;
}

header ul {
  display: flex;
  list-style: none;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* Hero section */
.hero {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  align-items: center;
  justify-content: space-between;
  padding: 64px 96px;
  gap: 32px;
}

.hero-info {
  flex-basis: 400px;
}

.hero-info > h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-info > p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 250px;
}

/* Info section */
.info {
  padding: 32px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info > h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.info-gallery {
  display: flex;
  gap: 16px;
}

.info-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-image {
  border: 3px solid #3882f6;
  border-radius: 12px;
  width: 200px;
  height: 200px;
}

.info-card-text {
  font-size: 18px;
  color: #1f2937;
}
